<h2>New Book</h2> 
<!-- action is the url the form goes to -->
<form action="/books" method="POST">
    <!-- the inputs are written in a partial file so that the edit can also access it -->
    <%- include('_form_fields') %>
    <a href="/books">Cancel</a>
    <button type="submit">Create</button>
</form>